/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Bebas+Neue&family=Ms+Madi&family=Open+Sans:ital,wght@0,400;0,700;1,300;1,500&family=Roboto+Mono&family=Roboto+Slab:wght@900&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Circular,system,-apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}
:root{
    --body--background--color: #33333d;
    --session--title--color: #f2f2f4;
    --red: #ff5c5c;
    --green: #39da8a;
    --orange: #fdac41;
    --purple: #ac5cd9;
    --input--blue: #2196f3;
    --priority--red: #ff5c5c ;
    --priority--yellow: #fedd49;
    --priority--blue: #2196f3;
}
body{
    background-color: var(--body--background--color);
}
.logo{
    position: absolute;
    top: -2.1vh;
    left: -2vh;
}
.logo a img {
    height: 15vh;
}
.app-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin-top: 10vh;
    opacity: 1;
}
.todo-session-title-area,
.progress-session-title-area,
.review-session-title-area,
.end-session-title-area{
    width: 350px;
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 4px solid rgba(51, 51, 61, 0.74);
    transition: 0.4s all ease;
    border-radius: 10px;
    color: var(--session--title--color);
}
.todo-session,
.progress-session,
.review-session{
    margin-right: 5vh;
}
.todo-session-title-area .session-title,
.progress-session-title-area .session-title,
.review-session-title-area .session-title,
.end-session-title-area .session-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.todo-session-title-area .session-title::before,
.progress-session-title-area .session-title::before,
.review-session-title-area .session-title::before,
.end-session-title-area .session-title::before{
    width: 10px;
    height: 32px;
    display: inline-block;
    content: '';
    margin-right: 1vh;
    border-radius: 25px;
}
.todo-session-title-area .session-title::before{
    background-color:var(--red);
}
.progress-session-title-area .session-title::before{
    background-color: var(--green);
}
.review-session-title-area .session-title::before{
    background-color: var(--orange);
}
.end-session-title-area .session-title::before{
    background-color: var(--purple);
}
.todo-session-total-card,
.progress-session-total-card,
.review-session-total-card,
.end-session-total-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-session-total-card{
    margin-left: 35%;
}
.progress-session-total-card{
    margin-left: 21%;
}
.review-session-total-card{
    margin-left: 28%;
}
.end-session-total-card{
    margin-left: 40%;
}
.todo-session-add-card-button::after,
.progress-session-add-card-button::after,
.review-session-add-card-button::after,
.end-session-add-card-button::after{
    content: '\002B';
    margin-left: 600%;
    display: inline-block;
    cursor: pointer;
}
.todo-session-card-area,
.progress-session-card-area,
.review-session-card-area,
.end-session-card-area{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
}
.todo-session{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.task-card{
    position: relative;
    width: 325px;
    height: 5vh;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 4px solid rgba(51, 51, 61, 0.74);
    display: flex;
    align-items: center;
    margin-bottom: 1.5vh;
    z-index: 1;
}
.task-card-priority{
    width: 0.6rem;
    height: 3vh;
    border-radius: 25px;
    margin-left: 0.6rem;
    background: var(--red);
}
.task-card-title{
    font-size: 0.9rem;
    color: var(--session--title--color);
    margin-left: 5%;
}
.settings-icon i{
    color: var(--session--title--color);
    margin-left: 550%;
    cursor: pointer;
}
.settings-menu{
    position: absolute;
    z-index: 5;
    top: 250px;
    width: 15%;
    height: 25vh;
    background-color: rgba(0, 0, 0, 1);;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    border: 4px solid rgba(51, 51, 61, 0.74);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
}
.settings-menu button{
    border: none;
    width: 80%;
    background-color: transparent;
    color: var(--session--title--color);
    font-size: 16px;
    margin-top: 15px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all ease;
}
.settings-menu button:hover{
    margin-bottom: 0.7vh;
}
.settings-menu button:nth-child(1){
    border-bottom: 5px solid var(--red);
}
.settings-menu button:nth-child(2){
    border-bottom: 5px solid var(--green);
}
.settings-menu button:nth-child(3){
    border-bottom: 5px solid var(--orange);
}
.settings-menu button:nth-child(4){
    border-bottom: 5px solid var(--purple);
}
.settings-menu i{
    margin: 0 0 0 25px;
    padding: 0;
}
.delete-card i{
    color: var(--red);
}
.info-message-container{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 4px solid rgba(51, 51, 61, 0.74);
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 40vh;
    display: none;
    align-items: center;
    flex-direction: column;
}
.exclamation{
    border-radius: 50%;
    width: 30%;
    height: 30%;
    background-color: var(--session--title--color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -15%;
    border: 0.5rem solid #555555;
}
.stick{
    width: 10%;
    height: 50%;
    background-color: var(--red);
    border-radius: 15%;
}
.dot{
    margin-top: 5%;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    background-color: var(--red);
}
.info-message-title {
    margin-top: 4vh;
}
.info-message-title span{
    color: var(--session--title--color);
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
}
.info-message-text{
    margin-top: 4vh;
    max-width: 75%;
    text-align: center;
}
.info-message-text span{
    line-height: 3rem;
    color: var(--session--title--color);
    font-size: 1.3rem;
}
.info-confirm-button{
    border: none;
    width: 50%;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    color: var(--session--title--color);
    font-size: 1rem;
    margin-top: 3vh;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all ease;
}
.temporary-card-container{
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 4px solid rgba(51, 51, 61, 0.74);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.priority-buttons-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 3vh;
}
.priority-buttons-area button{
    width: 40%;
    height: 100%;
    margin-bottom: 20%;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    color: var(--session--title--color);
    cursor: pointer;
    font-size: 0.8rem;
}
.priority-buttons-area button:nth-child(1),
.priority-buttons-area button:nth-child(2){
    margin-right: 10%;
}
.priority-buttons-area button:nth-child(1){
    border-bottom: 5px solid var(--priority--red);
}
.priority-buttons-area button:nth-child(2){
    border-bottom: 5px solid var(--priority--blue);
}
.priority-buttons-area button:nth-child(3){
    border-bottom: 5px solid var(--priority--yellow);
}
.temporary-card-container p{
    color: var(--session--title--color);
    font-size: 1rem;
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.temporary-card-container input{
    background-color: var(--body--background--color);
    border: none;
    color: var(--session--title--color);
    margin-top: 2vh;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    padding: 3%;
    border-radius: 5px;
}