@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Bebas+Neue&family=Ms+Madi&family=Open+Sans:ital,wght@0,400;0,700;1,300;1,500&family=Roboto+Mono&family=Roboto+Slab:wght@900&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Circular,system,-apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}
:root{
    --body--background--color: #33333d;
    --session--title--color: #f2f2f4;
    --red: #ff5c5c;
    --green: #39da8a;
    --orange: #fdac41;
    --purple: #ac5cd9;
    --input--blue: #2196f3;
    --priority--red: #ff5c5c ;
    --priority--yellow: #fedd49;
    --priority--blue: #2196f3;
}
body{
    background-color: var(--body--background--color);
}
/* Logo Area */
.logo a{
    font-family: 'Teko', sans-serif;
    position: absolute;
    color: white;
    font-size: 2vh;
    top: 1vh;
    left: 1vh;
    font-weight: bold;
    transition: 0.3s all;
}
.logo a span{
    color: var(--input--blue);
    margin-left: 5%;
}
.logo a:hover{
    top: 1.5vh;
    padding-bottom: 0.1%;
    border-bottom: 3px solid var(--input--blue);
}
/* Logo Area */
.app-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin-top: 10vh;
    opacity: 1;
}
@media screen and (max-width: 900px) {
    .app-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        row-gap: 15vh;
    }
    .todo-session{
        grid-row: 1;
    }
    .progress-session{
        grid-row: 2;
    }
    .review-session{
        grid-row: 3;
    }
    .end-session{
        grid-row: 4;
    }
    .todo-session-card-area,
    .progress-session-card-area,
    .review-session-card-area,
    .end-session-card-area{
        max-height: 25vh;
        overflow-y: scroll;
    }
}
@media screen and (max-width: 1600px) {
    .app-container{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto auto;
    }
    .todo-session-card-area,
    .progress-session-card-area,
    .review-session-card-area,
    .end-session-card-area{
        max-height: 25vh;
        overflow: auto;
    }
    .review-session,
    .end-session{
        margin-top: -10vh;
    }
}
.todo-session-title-area,
.progress-session-title-area,
.review-session-title-area,
.end-session-title-area{
    width: 350px;
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 4px solid rgba(51, 51, 61, 0.74);
    transition: 0.4s all ease;
    border-radius: 10px;
    color: var(--session--title--color);
}
.todo-session,
.progress-session,
.review-session{
    margin-right: 5vh;
}
.todo-session-title-area .session-title,
.progress-session-title-area .session-title,
.review-session-title-area .session-title,
.end-session-title-area .session-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.todo-session-title-area .session-title::before,
.progress-session-title-area .session-title::before,
.review-session-title-area .session-title::before,
.end-session-title-area .session-title::before{
    width: 10px;
    height: 32px;
    display: inline-block;
    content: '';
    margin-right: 1vh;
    border-radius: 25px;
}
.todo-session-title-area .session-title::before{
    background-color:var(--red);
}
.progress-session-title-area .session-title::before{
    background-color: var(--green);
}
.review-session-title-area .session-title::before{
    background-color: var(--orange);
}
.end-session-title-area .session-title::before{
    background-color: var(--purple);
}
.todo-session-total-card,
.progress-session-total-card,
.review-session-total-card,
.end-session-total-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-session-total-card{
    margin-left: 35%;
}
.progress-session-total-card{
    margin-left: 21%;
}
.review-session-total-card{
    margin-left: 28%;
}
.end-session-total-card{
    margin-left: 40%;
}
.todo-session-add-card-button::after,
.progress-session-add-card-button::after,
.review-session-add-card-button::after,
.end-session-add-card-button::after{
    content: '\002B';
    margin-left: 600%;
    display: inline-block;
    cursor: pointer;
}
.todo-session-card-area,
.progress-session-card-area,
.review-session-card-area,
.end-session-card-area{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
}
.todo-session{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.task-card,
.temporary-card{
    position: relative;
    width: 325px;
    height: 5vh;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 4px solid rgba(51, 51, 61, 0.74);
    display: flex;
    align-items: center;
    margin-bottom: 1.5vh;
    z-index: 1;
}
.task-card-priority{
    width: 0.6rem;
    height: 3vh;
    border-radius: 25px;
    margin-left: 0.6rem;
}
.task-card-title{
    font-size: 0.9rem;
    color: var(--session--title--color);
    margin-left: 5%;
}
.settings-icon i{
    color: var(--session--title--color);
    margin-left: 550%;
    cursor: pointer;
}
.settings-menu{
    position: absolute;
    z-index: 5;
    width: 15%;
    height: 25vh;
    background-color: rgba(0, 0, 0, 1);;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    border: 4px solid rgba(51, 51, 61, 0.74);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
}
.settings-menu button{
    border: none;
    width: 80%;
    background-color: transparent;
    color: var(--session--title--color);
    font-size: 16px;
    margin-top: 15px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all ease;
}
.settings-menu button:hover{
    margin-bottom: 0.7vh;
}
.settings-menu button:nth-child(1){
    border-bottom: 5px solid var(--red);
}
.settings-menu button:nth-child(2){
    border-bottom: 5px solid var(--green);
}
.settings-menu button:nth-child(3){
    border-bottom: 5px solid var(--orange);
}
.settings-menu button:nth-child(4){
    border-bottom: 5px solid var(--purple);
}
.settings-menu i{
    margin: 0 0 0 25px;
    padding: 0;
}
.delete-card i{
    color: var(--red);
}
.temporary-card-title{
    margin: 25px 100px 25px 25px;
    font-size: 1.2rem;
    color: white;
    max-width: 75%;
}
.temporary-card i{
    color: var(--priority--red);
}
.create-card-menu-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.1);;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 4px solid rgba(51, 51, 61, 0.74);
    border-radius: 25px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.create-card-menu-container h1{
    color: var(--session--title--color);
    margin-bottom: 25px;
}
.create-card-menu-container input{
    background-color: transparent;
    border: 4px solid var(--body--background--color);
    border-radius: 25px;
}
.create-card-menu-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.create-card-menu-button-container button{
    border: none;
    background-color: transparent;
    color: var(--session--title--color);
    padding: 3%;
    border-radius: 8%;
    transition: 0.3s all ease;
}
.create-card-menu-button-container button:hover{
    margin-bottom: 5px;
}
.create-card-menu-button-container button:nth-child(1){
    border-bottom: 4px solid var(--priority--red);
    margin-right: 5%;
}
.create-card-menu-button-container button:nth-child(2){
    border-bottom: 4px solid var(--priority--yellow);
    margin-right: 5%;
}
.create-card-menu-button-container button:nth-child(3){
    border-bottom: 4px solid var(--priority--blue);
}