@media screen and (max-width:1780px) {
    .app-container{ 
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .review-session,
    .end-session{
        margin-top: 5vh;
    }
}
@media screen and (max-width:930px) {
    .app-container{
        grid-template-columns: auto;
    }
    .progress-session,
    .review-session,
    .end-session{
        margin-top: 5vh;
    }
    .settings-menu{
        width: 25%;
    }
}
@media screen and (max-width:760px) {
    .settings-menu{
        width: 30%;
    }
}
@media screen and (max-width:600px) {
    .settings-menu{
        width: 35%;
    }
}