:root{
    --scrollbar--area--background--color: #777777;
    --scrollbar--backgorund--color: #2196f3;
    --scrollbar--hover--color: #f2f2f4;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 25px;
    background-color: var(--scrollbar--area--background--color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar--backgorund--color);
    border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--scrollbar--hover--color);
}